.kurbani-banner-bg {
  background-color: #89bd40;
  /* #8cdbb9 #89bd40 #6aa359 */
}
.category img {
  width: 100px;
}
.kurbani-bg-success {
  background-color: #316695;
}
span {
  color: tomato;
}
.single-img-container:hover .eid {
  transform: scale(1.2) rotate(360deg);
  transition: ease-in 1.2s;
}
